<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Delicious - Food Blog Template | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body id="demo">
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="img/core-img/salad.png" alt="">
    </div>

    <!-- ##### Header Area Start ##### -->
    {{>menu}}
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="size-max">
            <!-- Single Hero Slide -->
            <div id="imageMealContainer1" class="size-max bg-img" style="background-image: url(https://www.themealdb.com//images//media//meals//qstyvs1505931190.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 id="nameMealContainer1" style="color: #ffffff;" data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>
                                <p id="descriptionMealContainer1" style="color: #ffffff; data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                                <a id="linkMealContainer1" href="" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!-- ##### Top Catagory Area Start ##### -->
    <section class="top-catagory-area section-padding-80-0">
        <div class="container">
            <div class="row">
                {{#recipes}}
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img class="size-max2" src={{image}} alt="">
                        <div class="top-cta-content">
                            <h3>{{recipe_name}}</h3>
                            <h6>{{category}} &amp; {{difficulty}}</h6>
                            <a href="/recipe-post{{id}}" class="btn delicious-btn">See Full Receipe</a>
                        </div>
                    </div>
                </div>
                {{/recipes}}
            </div>
        </div>
    </section>

    <!-- ##### CTA Area Start ##### -->
    <section class="cta-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg4.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content text-center">
                        <h2>Recipes for Everything</h2>
                        <p>Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque. Ut vulputate, lectus vel aliquam congue, risus leo elementum nibh</p>
                        <a href="/recipe-list" class="btn delicious-btn">Discover all the recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="top-catagory-area section-padding-80-0">
        <div class="container">
            <div class="row">
                {{#recipes2}}
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img class="size-max2" src={{image}} alt="">
                        <div class="top-cta-content">
                            <h3>{{recipe_name}}</h3>
                            <h6>{{category}} &amp; {{difficulty}}</h6>
                            <a href="/recipe-post{{id}}" class="btn delicious-btn">See Full Receipe</a>
                        </div>
                    </div>
                </div>
                {{/recipes2}}
            </div>
        </div>
    </section>

    <!-- ##### Footer Area Start ##### -->
    {{>footer}}
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script>
        window.onload = function() {
            var error = "{{error}}";

            if(error) {
                alert(error);
            }
        }

        function getRandomMeal() {
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    displayMeal(response.meals[0]);
                }
            };

            xhr.open("GET", "https://www.themealdb.com/api/json/v1/1/random.php", true);
            xhr.send();
        }

        function displayMeal(meal) {
            document.getElementById(`imageMealContainer1`).style.backgroundImage = 'url(' + meal.strMealThumb + ')';
            document.getElementById(`nameMealContainer1`).innerText = meal.strMeal;
            document.getElementById(`descriptionMealContainer1`).innerText = meal.strInstructions.replace(/(\r\n|\n|\r)/gm,"");;
            document.getElementById(`linkMealContainer1`).href = '/api' + meal.idMeal;
            var divs = document.getElementById(`descriptionMealContainer1`);
            divs.innerHTML = divs.innerHTML.substring(0,1000);
        }
        getRandomMeal();

    </script>
</body>

</html>