<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Delicious - Food Blog Template | Receipe Post</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="img/core-img/salad.png" alt="">
    </div>

    

    <!-- ##### Header Area Start ##### -->
    {{>menu}}
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Recipe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="receipe-post-area section-padding-80">

        <!-- Receipe Post Search -->
        <div class="receipe-post-search mb-80">
            <div class="container">
                <form action="/recipe-filters" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-4 ">
                            <select class="form-control2" id="difficulty" name="difficulty" placeholder="Select One!" required>
                                <option value="none">None</option>
                                <option value="Beginner">Beginner</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Expert">Expert</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <select class="form-control2" id="category" name="category" placeholder="Select One!" required>
                                <option value="none">None</option>
                                <option value="Breakfast">Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Desserts">Desserts</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <button type="submit" class="btn delicious-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- ##### Small Receipe Area Start ##### -->
    <section class="small-receipe-area">
        <div class="container">
            <div class="row">

                {{#recipes}}
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-small-receipe-area d-flex">
                        <!-- Receipe Thumb -->
                        <div class="receipe-thumb">
                            <img src={{image}} alt="">
                        </div>
                        <!-- Receipe Content -->
                        <div class="receipe-content">
                            <span>{{difficulty}}</span>
                            <a href="/recipe-post{{id}}">
                                <h5>{{recipe_name}}</h5>
                            </a>
                            <div>{{category}}</div>
                            <p>{{time}} minutes</p>
                        </div>
                    </div>
                </div>
                {{/recipes}}
            </div>
        </div>
    </section>
    <div class="receipe-post-area section-padding-80">

        <!-- Receipe Post Search -->
        <div class="receipe-post-search mb-80">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 text-center">
                        {{#filter}}
                            {{#prevPage}}
                                <button onclick="window.location.href='/asda{{prevPage}}'" class="btn delicious-btn">Previous</button>
                            {{/prevPage}}
                        {{/filter}}
                        {{^filter}}
                            {{#prevPage}}
                                <button onclick="window.location.href='/recipe-list{{prevPage}}'" class="btn delicious-btn">Previous</button>
                            {{/prevPage}}
                        {{/filter}}
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        {{#filter}}
                            {{#nextPage}}
                                <button onclick="window.location.href='/asda{{nextPage}}'" class="btn delicious-btn">Next</button>
                            {{/nextPage}}
                        {{/filter}}
                        {{^filter}}
                            {{#nextPage}}
                                <button onclick="window.location.href='/recipe-list{{nextPage}}'" class="btn delicious-btn">Next</button>
                            {{/nextPage}}
                        {{/filter}}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Footer Area Start ##### -->
    {{>footer}}
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>